@tailwind base;
@tailwind components;
@tailwind utilities;
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
    .nuxt-icon--fill,
    .nuxt-icon--fill * {
        fill: none !important;
    }
    body::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
