@tailwind base;
@tailwind components;
@tailwind utilities;
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
@layer base {
    .page-enter-active {
        transition: all 0.1s ease-out;
    }
    .page-leave-active {
        transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
    }
    .page-enter-from,
    .page-leave-to {
        transform: translateY(20px);
        opacity: 0;
    }

    .layout-enter-active {
        transition: all 0.1s ease-out;
    }
    .layout-leave-active {
        transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
    }
    .layout-enter-from,
    .layout-leave-to {
        transform: translateY(-20px);
        opacity: 0;
    }
    .nuxt-icon--fill,
    .nuxt-icon--fill * {
        fill: none !important;
    }
}
